<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <include resource="fluency.xml" />

  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %-5level %logger{15}#%line %msg]]></pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FLUENCY" />
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>